
/plugins/*/build
/plugins/*/*.so
/plugins/*/testcases/*.o
/plugins/*/testcases/*/*.o

# match testcase output programs, which lack file extensions
# do this by matching everything, then unmatching subfolders and anything with an extension
/plugins/*/testcases/*/*
!/plugins/*/testcases/*/**/
!/plugins/*/testcases/*/*.*